<h2 mat-dialog-title>Select Parts</h2>
<mat-dialog-content>
    <mat-form-field appearance="outline" class="search-box">
        <mat-label>Search Part here</mat-label>
        <input matInput [formControl]="searchControl"/>
    </mat-form-field>
    <table mat-table [dataSource]="partsList" class="mat-elevation-z2 full-width">
        <ng-container matColumnDef="partName">
            <th mat-header-cell *matHeaderCellDef>Part Name</th>
            <td mat-cell *matCellDef="let part">{{ part.partName }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let part">{{ part.price }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let part">
                <button *ngIf="!wasPreviouslyAdded(part.partName)" mat-button class="add-btn" (click)="addPart(part)"
                    [disabled]="isDisabled(part.partName)">
                    Add
                </button>
                <!-- Show Remove button only if it was already added before -->
                <button *ngIf="wasPreviouslyAdded(part.partName)" mat-button class="remove-btn"
                    (click)="removePart(part)" [disabled]="permanentlyRemovedSet.has(part.partName)">
                    Remove
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['partName', 'price', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['partName', 'price', 'action'];"></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>